/* You can add global styles to this file, and also import other style files */
@import '~@tmobile/fuse-bootstrap/scss/bootstrap.scss';
@import '~@tmobile/fuse-core';
@import '~@tmobile/fuse-buttons';

.checkout-container {
  .p-radiobutton .p-radiobutton-box.p-highlight {
    background: #ffff;
    border: 1px solid #e20074;
  }

  .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    background-color: #e20074;
  }

  .p-radiobutton .p-radiobutton-box {
    border: 1px solid #e20074;
  }

  .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: none;
    background: none;
  }

  .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    border-color: #e20074;
  }

  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #e20074;
    background: #e20074;
  }

  .p-checkbox .p-checkbox-box {
    border: 1px solid #e20074;
    border-radius: unset;
    .p-checkbox-icon {
      font-weight: 900;
    }
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background: #e20074;
    border-color: #e20074;
  }

  .p-radiobutton-focused {
    border-color: none;
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #e20074;
  }

  .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #e20074;
  }

  .p-inputtext:enabled:hover {
    border-color: #5a5a5a;
  }

  .p-float-label input:focus ~ label,
  .p-float-label input.p-filled ~ label,
  .p-float-label textarea:focus ~ label,
  .p-float-label textarea.p-filled ~ label,
  .p-float-label .p-inputwrapper-focus ~ label,
  .p-float-label .p-inputwrapper-filled ~ label {
    top: 0.7rem;
  }

  label {
    margin-bottom: 0;
  }
}

.language-update-container {
  font-family: Arial, Helvetica, sans-serif;
  .tmo-icon {
    width: 20px;
    height: 20px;
  }
  .pi-times {
    cursor: pointer;
    position: relative;
    float: right;
    font-weight: bolder;
  }
}
