@import '../../styles.scss';

.edit-shipping-container {
  height: 310px;
  .clear-icon {
    top: 0.75rem;
    cursor: pointer;
    float: right;
    position: relative;
    right: 30px;
  }

  .edit-input {
    width: 20rem;
    border-radius: 0;
    border: 1px solid #5a5a5a;
  }

  .p-dropdown {
    width: 20rem;
    border-radius: 0;
    border: 1px solid #5a5a5a;
  }

  .firstName-edit-input {
    width: 14.5rem;
    border-radius: 0;
    border: 1px solid #5a5a5a;
  }

  .mi-edit-input {
    width: 4rem;
    border-radius: 0;
    border: 1px solid #5a5a5a;
    margin-right: 1.5rem;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #495057;
  }
}

.verify-address-container {
  .address-type {
    margin-left: 0.6rem;
    vertical-align: middle;
    display: inline-flex;
    font-weight: bold;
    font-size: 18px;
  }

  .display-address {
    margin-left: 1.5rem;
    margin-top: 0.2rem;
  }

  .address-header {
    margin-top: 1.5rem;
  }

  .tmo-icon {
    width: 20px;
    height: 20px;
  }

  .pi-times {
    cursor: pointer;
    position: relative;
    float: right;
    font-weight: bolder;
  }

  input[type='radio'] {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0 1px #e20074;
    vertical-align: text-bottom;
  }

  input[type='radio']:before {
    content: '';
    display: block;
    width: 75%;
    height: 75%;
    margin: 15% auto;
    border-radius: 50%;
  }

  input[type='radio']:checked:before {
    background: #e20074;
  }
}
