@import '../../styles.scss';

.payment-page {
  .btn-group {
    .p-button-rounded {
      font-family: TeleneoBold, Arial, Helvetica, sans-serif;
      font-size: 18px;
      width: 240px;
      height: 45px;
      max-width: 400px;
    }

    .cancel-btn {
      background: #ffff;
      color: #e20074;
      border: 1px solid #bebebe;
      font-family: TeleneoBold, Arial, Helvetica, sans-serif;
    }
    .p-button:focus {
      box-shadow: none;
    }
    .p-button:enabled:hover,
    .p-button:not(button):not(a):not(.p-disabled):hover {
      background: #e20074;
      color: #ffff;
      border: 1px solid #e20074;
    }

    .continue-btn {
      background: #e20074;
      font-family: TeleneoBold, Arial, Helvetica, sans-serif;
      border: none;
      .btn-group .p-button:enabled:hover,
      .btn-group .p-button:not(button):not(a):not(.p-disabled):hover {
        background: #e20074;
      }
    }

    .continue-btn:disabled {
      background: #bebebe;
      cursor: not-allowed;
    }
  }
}
