@import '../../styles.scss';

.orderSummary {
  font-family: Arial, Helvetica, sans-serif;
  .order-summary-header {
    font-size: 24px;
    font-weight: bold;
    font-family: Teleneo, Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
  }
  .line-divider {
    border: 1px solid #c8c8c8;
  }
  .preference-title {
    font-weight: bold;
    color: #5a5a5a;
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }

  .items {
    padding-top: 10px;
    padding-bottom: 0;
  }
}
