@import '../../styles.scss';

.tc-container {
  font-family: Arial, Helvetica, sans-serif;
  .tc-title {
    // TeleGroteskFet not being imported from fuse
    font-family: TeleneoBold, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #323232;
  }

  .tc-content-heading {
    padding: 10px 0px;
    font-family: TeleneoBold, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #323232;
  }

  .tc-scroll {
    width: 44.563rem;
    height: 13.125rem;
    line-height: 1.5;
  }

  label {
    font-family: TeleneoBold, Arial, Helvetica, sans-serif;
  }
}
