// Spinner styles
@import '~@tmobile/fuse-core';
@import '~@tmobile/fuse-buttons';
@import 'https://fuse-styles.docs.t-mobile.com/css/styles.css';

// To make sure the globalnav navbar gets the correct position.
.nav-bar {
  position: initial !important;
}
.catalog-container {
  .catalog-card.card-body.card-content {
    padding-top: 1.25rem;
  }

  .catalog-card {
    width: 18.75rem;

    .main-heading {
      font-size: 1.5rem;
      line-height: 1.5rem;
      line-clamp: 1.5rem;
      height: 6.25rem;
    }

    .details-link {
      font-size: 0.875rem;
      flex: auto;
    }
  }

  .deal-icon {
    font-family: Arial, sans-serif;
    font-size: 8px;
    color: #ffffff;
    background-color: #e20074;
    padding: 5px;
  }
  /* This is the submit button styles */

  button {
    /* Font-size is the root value that determines size of spinner parts. Change this to whatever you want and spinner elements will size to match. */
    position: relative;
  }

  /* This is the space for the spinner to appear, applied to the button */

  .spin {
    padding-left: 2.5em;
    display: block;
  }

  /* position of the spinner when it appears, you might have to change these values */

  .spin .spinner {
    left: -0.6em;
    top: 0.4em;
    width: 2.5em;
    display: block;
    position: absolute;
  }

  /* spinner animation */

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* The actual spinner element is a pseudo-element */

  .spin .spinner::before {
    content: '';
    width: 1.5em;
    /* Size of the spinner */
    height: 1.5em;
    /* Change as desired */
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: solid 0.35em #999;
    /* Thickness/color of spinner track */
    border-bottom-color: #555;
    /* Color of variant spinner piece */
    animation: 0.8s linear infinite spinner;
    /* speed of spinner */
    transform: translate(-50%, -50%);
    will-change: transform;
  }

  /* accordion */
  .accordion-content {
    transition: max-height 400ms cubic-bezier(0.86, 0, 0.07, 1);
  }

  .accordion-content[aria-expanded='false'] {
    visibility: hidden;
    height: 0;
    max-height: 0;
  }

  .accordion-content[aria-expanded='true'] {
    visibility: visible;
    max-height: 400px;
  }

  /* filter */

  #filter-panel[aria-expanded='false'] {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }

  #filter-panel[aria-expanded='true'] {
    visibility: visible;
  }

  .container#header {
    height: 100px;
    margin: 0 auto;
  }

  .filter-items {
    max-height: 50vh;
    overflow-y: scroll;
    padding-right: 30px;
  }
  .filter-open {
    border: 1px solid gray;
    max-height: 68vh;
    background-color: white;
    width: 400px !important;

    div {
      background-color: white;
    }
  }

  #filter > .container {
    position: absolute;
    z-index: 1;
    width: fit-content;
    padding: 0 35px;
    padding-right: 0;
    &.filter-open {
      left: -250px;
      #title {
        left: 240px;
      }
    }
  }

  #filter .filter-sort-container {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-left: 10px;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  /* tooltip */

  .arrow-box {
    position: absolute;
    background: #fff;
    border: 1px solid #999;
    display: none;
    width: max-content;
    padding: 10px;
    z-index: 1;
    font-size: 12px;
    top: calc(100% + 15px);
  }
  .arrow-box:after,
  .arrow-box:before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow-box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 15px;
    margin-left: -15px;
  }
  .arrow-box:before {
    border-color: rgba(153, 153, 153, 0);
    border-bottom-color: #999;
    border-width: 16px;
    margin-left: -16px;
  }

  .arrow-box.visible {
    display: block;
  }

  .tooltip-container {
    position: relative;
  }

  /* option items */

  [type='radio'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  [type='radio'] + img {
    height: 50px;
    width: 50px;
    margin: 7.5px;
    padding: 10px;
    cursor: pointer;
  }

  [type='radio']:checked + img {
    border: 2px solid #e20074;
  }

  [type='radio'] + .memory-option {
    margin: 7.5px;
    padding: 7.5px;
    cursor: pointer;
  }

  [type='radio'] + .not-available {
    margin: 7.5px;
    padding: 7.5px;
    cursor: pointer;
  }

  [type='radio']:checked + .memory-option {
    border: 2px solid #e20074;
  }

  .memory-option {
    border: 1px solid #bebebe;
    text-align: center;
    white-space: pre-line;
    line-height: 1.15;
  }

  div.not-available-memory {
    margin: 7.5px;
    padding: 7.5px;
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px dashed #bebebe;
    text-align: center;
    white-space: pre-line;
    line-height: 1.15;
  }

  .not-available {
    position: relative;
    width: 60px;
    height: 60px;
    border: 2px dashed #bebebe;
  }

  svg {
    position: absolute;
  }

  .memory-line {
    -webkit-transform: translateX(10px) translatey(2px);
    transform: translateX(10px) translatey(2px);
  }

  .color-line {
    z-index: 3;
    -webkit-transform: translateX(10px) translatey(10px);
    transform: translateX(10px) translatey(10px);
  }

  .buttonsDiv {
    text-align: center;
  }
  .buttons {
    margin-right: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .radio {
    min-height: initial;
  }

  .disabled * {
    color: #bebebe;
  }
}

.tmo-icon {
  width: 20px;
  height: 20px;
}
.pi-times {
  cursor: pointer;
  position: relative;
  float: right;
  font-weight: bolder;
}
