@import 'primereact/resources/themes/lara-light-indigo/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

.estimated-financing-container {
  .p-accordion .p-accordion-content {
    border: none;
    padding-top: 0.25rem;
  }

  .pi-chevron-right {
    transform: rotate(90deg);
  }

  .pi-chevron-down {
    transform: rotate(180deg);
  }
}
