@import '../../styles.scss';

.confirmation-preferences-container {
  font-family: Arial, Helvetica, sans-serif;
  .order-confirmation-header {
    font-size: 24px;
    font-weight: bold;
    font-family: Teleneo, Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
  }

  .order-prefrences-line {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 20px;
    width: 20%;
  }

  .preference-title {
    font-weight: bold;
    color: #5a5a5a;
    font-size: 1rem;
  }

  .pi-check {
    font-size: 1rem;
    color: green;
  }

  .preference-font {
    color: #5a5a5a;
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }

  .line-divider {
    border: 1px solid #c8c8c8;
  }

  .line-divider-header {
    border: 1px solid #767676;
  }
}
