@import '../../styles.scss';

.shipping-method-container {
  .shipping-method-header {
    font-size: 24px;
    font-weight: bold;
    font-family: Teleneo, Arial, Helvetica, sans-serif;
  }

  .shipping-method-line {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 20px;
    width: 20%;
    margin-left: 0.2rem;
    @media (max-width: 1700px) {
      width: 40%;
    }

    @media (max-width: 875px) {
      width: 60%;
    }
  }

  .shipping-method-cost {
    font-weight: bold;
    float: right;
  }

  .waive-shipping-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 20px;
    margin-left: 0.2rem;
  }

  .addInfo {
    margin-top: 40px;
    flex-direction: column;
    max-width: 350px;
    .header {
      margin-bottom: 10px;
      justify-content: space-between;
      .title {
        font-size: 16px;
      }
      .price {
        font-weight: 700;
      }
    }
    strong {
      text-align: end;
    }
    textarea {
      border-color: #e20074;
      max-width: 350px;
      margin-bottom: 10px;
      border-radius: 0px;
    }
  }
}
