.line-blade-container {
  font-family: Arial;
  margin: 3rem;

  .misdin {
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .blade-device-content {
    .header {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px;
    }
    color: #5a5a5a;
    font-size: 14px;
    font-family: Arial;
    padding: 1rem;

    .blade-details {
      margin-bottom: 3px;
    }
  }
  .blade-content {
    border-radius: 3px;
    border: 1px solid #bebebe;
  }

  :global(.icons) {
    &:global(.p-col) {
      display: grid;
      max-width: 50px;
    }

    img {
      width: 25px;
    }
  }
}

.amount {
  float: right;
  margin-right: 50%;
}

.accessories-quantity-input {
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
  padding: 5px;
  text-align: center;
  border: 0;
  background-color: lightgray;
}

:global(button:disabled) {
  background-color: #bebebe;
}
:global(input:focus) {
  outline: none !important;
}
/* Chrome, Safari, Edge, Opera */
:global(input::-webkit-outer-spin-button, input::-webkit-inner-spin-button) {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
:global(input[type='number']) {
  -moz-appearance: textfield;
}

.button-increase,
.button-decrease {
  padding-left: 1px;
  padding-right: 1px;
  height: 15px;
  width: 16px;
  color: white;
  background-color: #e20074;
  border: 0;
  border-radius: 4px;
  i {
    display: block;
    font-size: 0.6rem;
    font-weight: bolder;
  }
}

.finance-amount {
  float: right;
  margin-right: 40%;
}

.delete-confirmation-modal {
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: #ffffff;
  .confirmation-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #5a5a5a;
  }
  :global(.pi-check) {
    font-weight: bolder;
    color: green;
  }
  :global(.pi-times) {
    cursor: pointer;
    position: relative;
    float: right;
    font-weight: bolder;
    font-size: 12px;
    vertical-align: super;
  }
}

// Spinner styles
.spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 9999;
  div {
    top: 47%;
    position: relative;
    p {
      margin-top: 2rem;
    }
  }

  .pi-spinner {
    color: #e20074;
    cursor: pointer;
    font-size: 3rem;
  }
}
