.p-steps-number {
  height: 2rem;
  width: 2rem;
  background-color: white;
  border-radius: 50%;
  line-height: 2rem;
  border-color: deeppink;
  border: 2px solid deeppink;
  z-index: 11;
}
.p-steps-title {
  position: absolute;
  top: 2rem;
  z-index: 10;
}
.p-step-active {
  background-color: deeppink !important;
}
.p-step-completed {
  background-color: green !important;
  border: 2px solid green !important;
  i {
    color: white;
  }
}

.p-steps-item::after {
  content: ' ';
  width: 100%;
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  border-top: 3px dashed lightgray;
}

.p-steps-item:last-child::after {
  display: none;
}

.p-steps .p-steps-item:before {
  border-top: 0px !important;
}
