.os-container {
  .trade-in-header {
    font-size: 24px;
    font-weight: bold;
    font-family: Teleneo, Arial, Helvetica, sans-serif;
  }

  .trade-in-option {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 21px;
    width: 20%;
    margin-left: 0.2rem;
  }

  .buttonsDiv {
    text-align: center;
  }
  .buttons {
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .option-text {
    margin-bottom: 0;
    padding-left: 12px;
  }
  input[type='radio'] {
    -webkit-appearance: none;
    width: 0.99rem;
    height: 0.99rem;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0 1px #e20074;
    vertical-align: text-bottom;
  }

  input[type='radio']:before {
    content: '';
    display: block;
    width: 75%;
    height: 71%;
    margin: 15% auto;
    border-radius: 50%;
  }

  input[type='radio']:checked:before {
    background: #e20074;
  }
}
