@import '../../styles.scss';

.shipping-address-container {
  .shipping-address-header {
    font-size: 24px;
    font-weight: bold;
    //Note: Teleneo font not being imported from FUSE
    font-family: Teleneo, Arial, Helvetica, sans-serif;

    .edit-link {
      color: #e20074;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: normal;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .display-shipping-address {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 20px;
  }
}
