:global(.card) {
  font-family: Arial;
  border: 1px solid #bebebe;
  border-radius: 3px;
  background-color: #ffffff;
  color: #5a5a5a;

  .card-title,
  .total {
    font-weight: bold;
    font-family: Teleneo, Arial, Helvetica, sans-serif;
  }
}
