@import '../../styles.scss';

.notification-preferences-container {
  font-family: Arial, Helvetica, sans-serif;

  .order-notification-header {
    font-size: 24px;
    font-weight: bold;
    font-family: Teleneo, Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
  }

  .order-prefrences-line {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 20px;
  }
  .mySelect {
    margin-left: 35px;
    margin-top: 10px;
  }

  .clear-icon {
    top: 0.75rem;
    cursor: pointer;
    float: right;
    position: relative;
    right: 30px;
  }

  .email-input {
    width: 18.75rem;
    border-radius: 0;
    border: 1px solid #5a5a5a;
  }

  .preference-title {
    font-weight: bold;
    color: #5a5a5a;
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }

  .tooltip-circle {
    border: 1px solid #e20074;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 0.3rem;
    cursor: pointer;
    .tooltip-img {
      vertical-align: text-top;
    }
  }

  .p-error {
    color: #b50000;
  }
  .p-inputtext.p-invalid.p-component {
    border-color: #b50000;
  }

  .p-float-label > label.p-error {
    color: #b50000;
  }

  .preference-disabled {
    color: #bebebe;
  }
  .p-checkbox-disabled {
    background: #bebebe;
    .p-disabled {
      border: none;
    }
  }

  .p-radiobutton-disabled {
    .p-disabled {
      border: 1px solid #bebebe;
    }
  }

  .line-divider {
    border: 1px solid #c8c8c8;
  }
}
