.arrow-box {
  position: absolute;
  background: #fff;
  border: 1px solid #999;
  display: none;
  width: 200px;
  padding: 10px;
  z-index: 1;
  font-size: 12px;
  top: calc(100% + 15px);
  word-wrap: break-word;
}
.arrow-box:after,
.arrow-box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
.arrow-box:before {
  border-color: rgba(153, 153, 153, 0);
  border-bottom-color: #999;
  border-width: 16px;
  margin-left: -16px;
}

.arrow-box.visible {
  display: block;
}

.tooltip-container {
  position: relative;
}
