.dpContainer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  .headerText {
    font-size: 24px;
    font-weight: bold;
    font-family: Teleneo, Arial, Helvetica, sans-serif;
  }

  .device-description {
    margin: 0;
    width: 60%;
    padding-top: 0.5rem;
    margin-left: 1.6rem;
  }
  .device-information {
    padding-bottom: 1.5rem;
    a {
      color: #e20074;
      text-decoration: underline;
    }
  }

  p {
    margin: 0px;
  }
  .offer-name {
    margin-left: 0.6rem;
    vertical-align: middle;
    display: inline-flex;
  }
  .decline-offer {
    margin-left: 1.5rem;
  }

  input[type='radio'] {
    -webkit-appearance: none;
    width: 0.93rem;
    height: 0.93rem;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0 1px #e20074;
    vertical-align: text-bottom;
  }

  input[type='radio']:disabled {
    box-shadow: 0 0 0 1px lightgray;
  }

  input[type='radio']:before {
    content: '';
    display: block;
    width: 71%;
    height: 70%;
    margin: 15% auto;
    border-radius: 50%;
  }

  input[type='radio']:checked:before {
    background: #e20074;
  }

  .c2-document {
    display: block;
    width: 200px;
  }

  .icon {
    color: #e20074;
    height: '0.9rem';
  }

  label {
    margin-bottom: auto;
  }
  .not-available {
    color: lightgray;
    a {
      color: lightgray;
    }
  }
}
