:global(.p-accordion .p-accordion-header .p-accordion-toggle-icon) {
  margin-top: -8px;
  position: absolute;
  right: 0.5em;
  top: 50%;
  color: #e20074;
}

:global(#pr_id_1_header_0, #pr_id_2_header_0) {
  background-color: #ffffff;
  border: none;
}

:global(.p-accordion-header-text) {
  color: #e20074;
  font-family: Teleneo, Arial, Helvetica, sans-serif;
}
:global(.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link) {
  background-color: #ffffff;
}

:global(.p-accordion .p-accordion-header .p-accordion-header-link) {
  background-color: #ffffff;
}

:global(.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link) {
  background-color: #ffffff;
}

.estimated-financing-container {
  border: 1px solid #bebebe;
  border-radius: 3px;
  background-color: #ffffff;
  :global(.p-accordion .p-accordion-content) {
    border-bottom: none;
  }
  :global(.p-component) {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.total-due {
  font-family: Teleneo, Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 20px;
  color: #323232;
}

.financing-divider {
  width: 100%;
  margin: 0 auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.financing-total-divider {
  width: 95%;
  margin: 0 auto;
}

.financing-amount {
  float: right;
}

:global(.p-accordion .p-accordion-content) {
  padding: 1.25rem 1.25rem 0 1.25rem;
}
