.delete-device-Container {
  font-family: Arial, Helvetica, sans-serif;
}
.tmo-icon {
  width: 20px;
  height: 20px;
}
:global(.pi-times) {
  cursor: pointer;
  position: relative;
  float: right;
  font-weight: bolder;
}
